.navbar-wrapper {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .navbar-logo {
  width: 20%;
} */

.navbar-links {
  display: flex;
  justify-self: flex-end;
  width: 45%;
  align-items: center;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  width: 100%;
  margin-left: 2.5rem;
}

.navbar-links ul li {
    margin-right: 2.5rem;
  }

/* .navbar-links button {
  margin-left: 0.2rem;
} */

.navbar-links button {
   width: 30%;
   padding: 10px;
   background-color: #BE7136;
   color: #fff;
   border-color: transparent;
   font-size: 14px;
   font-weight: 600;
   font-family: 'Inter', sans-serif;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #000;
}
